/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.test-border-red {
    -fx-border-color: red;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.test-border-blue {
    -fx-border-color: blue;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.test-border-yellow {
    -fx-border-color: yellow;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.test-border-green {
    -fx-border-color: green;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

@font-face {
	font-family: Rubik;
	src: url("Rubik-ExtraBold.ttf");
}

/* Global Variable  */
#mainColor{
	-fx-background-color: rgba(87,179,131,1); 	
}
#secondColor{
	-fx-background-color: rgba(9,90,98,1); 
}
#mainColorFont{
	-fx-text-fill: rgba(87,179,131,1); 	
}
#secondColorFont{
	-fx-text-fill:  rgba(9,90,98,1);
}
.label{
	-fx-text-fill:  rgba(9,90,98,1);
	-fx-font-family: "Rubik";
}

/* C S S */
.backgroundcenter {
    -fx-background-color: rgb(230, 230, 230);
}

.left-side-pane {
    -fx-background-color: rgb(200, 200, 200);
}

.topcenter {
    -fx-background-color: rgb(255, 255, 255);
}

.BackgroundWhite {
    -fx-background-color: rgb(255, 255, 255);
}



.pointAverage {
    -fx-font-size: 20px;
}

.buttons {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 1;
}

.backbutton {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 1;
}

.addSemester {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.numberSemester {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-padding: 0px;
}

.list-view .scroll-bar {
    -fx-padding: 0px;
}

#invalid {
    -fx-border-color: red;
    -fx-border-width: 1;
}

#valid {
    -fx-border: none;
}

.list-cell:empty {
    -fx-background-color: transparent;
    -fx-border: none;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.increment-button,
.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane:vertical .corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-radius: 0em;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.BackgroundBackButton {
  	-fx-background-color: rgba(1,1,1,0.25);
  	-fx-background-repeat: no-repeat no-repeat;
 	-fx-background-size: 25 25;
 	-fx-background-position:center;
}