/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.test-border-red {
    -fx-border-color: red;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.test-border-blue {
    -fx-border-color: blue;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.test-border-yellow {
    -fx-border-color: yellow;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.test-border-green {
    -fx-border-color: green;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}


/* Global Variable  */
#mainColor{
	-fx-background-color: rgba(204,231,86,1); 	
}
#secondColor{
	-fx-background-color: rgba(49,49,64,1); 
}
#mainColorFont{
	-fx-text-fill: rgba(204,231,86,1); 	
}
#secondColorFont{
	-fx-text-fill:  rgba(49,49,64,1);
}
.label{
	-fx-text-fill:  rgba(49,49,64,1);
	-fx-font-family: 'Open Sans Regular', sans-serif;
}

/* C S S */
.backgroundcenter {
    -fx-background-color: rgb(246, 246, 246);
}

.left-side-pane {
    -fx-background-color: rgb(200, 200, 200);
}

.topcenter {
    -fx-background-color: rgb(255, 255, 255);
}

.BackgroundWhite {
    -fx-background-color: rgb(255, 255, 255);
}



.pointAverage {
    -fx-font-size: 20px;
}

.buttons {
    -fx-background-color: transparent;
    -fx-border-color: rgba(49,49,64,1);
    -fx-border-width: 1;
    -fx-font-family: 'Open Sans Regular', sans-serif;
    
}
.buttons:hover {
    -fx-background-color: rgba(49,49,64,1);
	-fx-text-fill: white;	

    
}

.ExamAddbuttons {
    -fx-background-color: transparent;
    -fx-border-color: rgba(49,49,64,1);
    -fx-border-width: 1;
    -fx-font-family: 'Open Sans Regular', sans-serif;
    
}
.ExamAddbuttons:hover {
    -fx-text-fill: rgba(204,231,86,1)	
    
}


.backbutton {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 1;
}

.addSemester {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
    -fx-font-family: 'Open Sans Regular', sans-serif;
    
}
.addSemester:hover{
	-fx-text-fill: rgba(204,231,86,1)	
}

.numberSemester {
    -fx-font-size: 30px;
}

.list-view {
    -fx-background-color: transparent;
}
.list-view .viewport {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-padding: 0px;
}

.list-view .scroll-bar {
    -fx-padding: 0px;
}

#invalid {
	-fx-background-color: rgb(255,165,149,1);
}
#invalid:hover{
	-fx-background-color: rgba(249,143,124,1);
}

#valid {
    -fx-border: none;
}

.list-cell:empty {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-border-color: transparent;
}
#moduleView{
	-fx-background-color: white;
}

#moduleView:hover{
	-fx-background-color: rgb(235,235,235);
}
#passed{
	-fx-background-color: rgba(204,231,86, 1);
}
#passed:hover{
	-fx-background-color: rgba(190, 219, 77, 1);
}
#exam{
	-fx-background-color: rgb(235,235,235);	
}
#exam:hover{
	-fx-background-color: rgba(226, 226, 226, 1);
	
}

.list-cell{
	-fx-padding: 5px;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.increment-button,
.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane:vertical .corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-radius: 0em;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.BackgroundBackButton {
  	-fx-background-color: rgba(49,49,64,0.64);
  	-fx-background-repeat: no-repeat no-repeat;
 	-fx-background-size: 25 25;
 	-fx-background-position:center;
}
.backButton {
	-fx-background-color: transparent;
}
.backButton:hover{
	-fx-background-color: rgba(246, 246, 246,0.5);
	
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
