/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.test {
    -fx-font-size: 50px;
}


/* HauptCSS*/

.addbutton {
    -fx-background-color: lightgrey;
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-font-size: 50px;
}

.addbutton:hover {
    -fx-border-color: red;
    -fx-border-width: 1;
}

.ownButton {
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}

.dragdropField {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.fileOpenButton {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.drapdropLabel1 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.header {
    -fx-font-size: 50px;
}

.header_2 {
    -fx-font-size: 30px;
}

.headerOne {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.secondHeader {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.studyLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.campusLabel {
    -fx-font-size: 20px;
}

.studyViewButton {
    -fx-background-color: transparent;
}

.studyViewButton:hover {
    -fx-background-color: rgba(0, 255, 0, 0.1);
}

.scroll-pane {
    -fx-background-color: transparent;
}