/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.test {
    -fx-font-size: 50px;
}


/* HauptCSS*/

.addbutton {
    -fx-background-color: lightgrey;
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-font-size: 50px;
}


.Button {
  	-fx-background-color: transparent;
  	-fx-background-repeat: no-repeat no-repeat;
 	-fx-background-position:center;
 	-fx-border-color: transparent;
 	
}
.Button:hover{
	 -fx-background-color: rgba(0.5,0.5,0.5,0.5);

}
#undoButton {
	-fx-background-size: 40,5 21;
	-fx-background-image: url("/images/redo.png");
}
#redoButton {
	-fx-background-size: 40,5 21;
	-fx-background-image: url("/images/undo.png");
}
#settingsButtonOut{
	-fx-background-size: 40 29;
	-fx-background-image: url("/images/settings.png");
}

#settingsButtonIN{
	-fx-background-size: 40 29;
	-fx-background-image: url("/images/settings.png");
	-fx-background-color: rgba(0.5,0.5,0.5,0.5);
}