/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.header {
    -fx-font-size: 50px;
    -fx-font-family: 'Open Sans Bold', sans-serif;
}

.headerExamView {
    -fx-font-size: 30px;
    -fx-font-family: 'Open Sans Bold', sans-serif;
}


.examListHeader {
    -fx-font-size: 15px;
    -fx-font-family: 'Open Sans Bold', sans-serif;
}

.examListCp {
    -fx-font-size: 15px;
    -fx-font-family: 'Open Sans Regular', sans-serif;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.newPlanButton{
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-border-radius: 80;
    -fx-background-radius: 80;
}
