/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.header {
    -fx-font-size: 50px;
    -fx-font-family: 'Open Sans SemiBold', sans-serif;
}

.headerExamView {
    -fx-font-size: 30px;
    -fx-font-family: 'Open Sans SemiBold', sans-serif;
}

.pointAverage {
    -fx-font-size: 20px;
    -fx-font-family: 'Open Sans Light', sans-serif;
    
}




.examListHeader {
    -fx-font-size: 15px;
    -fx-font-family: 'Open Sans bold', sans-serif;
}

.examListCp {
    -fx-font-size: 15px;
    -fx-font-family: 'Open Sans Regular', sans-serif;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.newPlanButton{
	-fx-background-color: rgba(49,49,64,1);
    -fx-border-radius: 80;
    -fx-background-radius: 80;
}
.newPlanButton:hover{
    -fx-background-color: rgba(204,231,86,1);
    -fx-border-width: 1;
    -fx-border-radius: 80;
    -fx-background-radius: 80;
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.nameInput {
    -fx-background-color: rgb(244,244,244);
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 14px;
    -fx-text-fill: rgb(49,49,64);
}

.nameInput:focused {
    -fx-background-color: rgb(244,244,244);
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 14px;
    -fx-text-fill: rgb(49,49,64);
}

.SaveButton {
    -fx-background-color: transparent;
    -fx-border-color: rgba(49,49,64,1);
    -fx-border-width: 1;
    -fx-font-family: 'Open Sans Regular', sans-serif;
    
}
.SaveButton:hover {
	-fx-background-color: rgba(49,49,64,1);
    -fx-text-fill: white;
    
}

