/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.header {
    -fx-font-size: 50px;
}

.examListHeader {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.examListCp {
    -fx-font-size: 10px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}