/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.header {
    -fx-font-size: 30px;
}

.ModuleHeader {
    -fx-font-size: 30px;
    -fx-font-family: 'Open Sans Bold', sans-serif;
    -fx-text-fill: white;
}
.Validatortext{
	-fx-font-size: 15px;
    -fx-font-family: 'Open Sans Regular', sans-serif;
    -fx-text-fill: white;
}
.Validatorheader{
	-fx-font-size: 15px;
    -fx-font-family: 'Open Sans Bold', sans-serif;
    -fx-text-fill: white;
}

.categoryLabel {
    -fx-font-size: 17px;
}

.border-red {
    -fx-border-color: rgb(228, 99, 99);
    -fx-border-width: 1;
}

.coursesHeadline {
    -fx-font-size: 17px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.backButton {
	-fx-background-color: transparent;
}
.backButton:hover{
	 -fx-background-color: rgba(0.5,0.5,0.5,0.5);

}