/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.header {
    -fx-font-size: 50px;
}


/* .list-view {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-padding: 0px;
}

.list-view .scroll-bar {
    -fx-padding: 0px;
}

.list-cell {
    -fx-background-color: transparent;
} */

.examListHeader {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.examListCp {
    -fx-font-size: 10px;
}